
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">

            <!-- <div class="form-group">
              <label>Username</label>
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required"> Username is required</div>
              </div>
            </div> -->
            <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label>Do you want to reset password ?</label>
                <select  [(ngModel)]="consent_type" (change)="checkConsent()"
              formControlName="consent" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.consent.errors }"
                >
                <option *ngFor="let consent of consents">{{consent}}</option>
             </select>
              <div *ngIf="submitted && f.consent.errors" class="invalid-feedback">
                <div *ngIf="f.consent.errors.required">Please select option </div>
              </div>
            </div> -->

            <div class="form-group">
              <label> Password</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirm_password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
              <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirm_password.errors.mustMatch">Passwords must match</div>
              </div>
            </div>

        <div>
          <button  class="btn btn-primary">Submit</button>
        </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>