<div id="top"></div>
<div class="panel-header panel-header-sm">
</div>



<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background-color: aquamarine;">
          <h4 class="card-title"> Help & Support</h4>
          <div class="addNewBtn row" style="font-size: small;
          width: 70%;">
            <div class="col-md-2" style="padding-top: 1.7em;font-size:large;">
              Filter By :
            </div>
            <div class="Col-md-2" style="padding:0.2em">
              <label>From Date</label>
              <!-- <ngx-datetime-picker id="timevalue" #timevalue>
              </ngx-datetime-picker> -->
              <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker>
            </div>

            <div class="Col-md-2" style="padding:0.2em">
              <label>To Date</label>
              <!-- <ngx-datetime-picker id="timevalue" #timevalue>
              </ngx-datetime-picker> -->
              <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker>
            </div>
          
            <div class="col-md-2 mx-auto" style="padding-top: 1.1em;">
              <button class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="userSearchList">
            <input (keyup)="search($event)" placeholder="search...">
            <span _ngcontent-c5="" class="searchIcon"><i _ngcontent-c5="" class="fa fa-search"></i></span>
          </div>
        </div>
        <div *ngIf="!Messages.length">
          No data found
        </div>
        <div *ngIf="Messages.length" class="eventUserList">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>User Name</th>
                  <th>Moblie </th>
                  <th>Email</th>
                  <th>Message</th>
                  <th>Date and Time</th>
                  <th>Status</th>
                  <th>Change Status</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of Messages; let i= index;">
                    
                    <td>{{item.UserName}}</td>
                    <td>{{item.Mobile}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Message}}</td>
                    <td>{{item.DateTime | date:"medium"}}</td>
                    <td>Resolved</td>
                    <td>
                      <select class="form-control">
                        <option hidden>Change Status</option>
                        <option value="Pending">Pending</option>
                        <option value="Resolved">Resolved</option>
                      </select>
                    </td>
                    <td>
                      <!-- <i class="fa fa-edit" aria-hidden="true" (click)="editProvider(provider._id)"></i> &nbsp; -->
                      <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                      <!-- <i class="fa fa-eye" aria-hidden="true" (click)="viewVendor(provider._id)"></i>&nbsp; -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
              <div class="row justify-content-center" *ngIf="Messages.length">
                <ngb-pagination [collectionSize]="total" [(page)]="where.page" [maxSize]="5" [pageSize]="where.limit" [rotate]="true"
                 [boundaryLinks]="false" (pageChange)="loadPage($event)"></ngb-pagination>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  </div>
</div>