
<div class="panel-header panel-header-sm">
</div>

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="main-section deshboardPage" >

		<div class="row">
			<div class="col-md-6">
				<div style="display: block;">
					<canvas baseChart 
					  [datasets]="barChartData"
					  [labels]="barChartLabels"
					  [options]="barChartOptions"
					  [plugins]="barChartPlugins"
					  [legend]="barChartLegend"
					  [chartType]="barChartType">
					</canvas>
				  </div>
			</div>
			<div class="col-md-6">
				<div style="display: block;">
					<canvas baseChart 
					  [datasets]="barChartData2"
					  [labels]="barChartLabels"
					  [options]="barChartOptions"
					  [plugins]="barChartPlugins"
					  [legend]="barChartLegend"
					  [chartType]="barChartType">
					</canvas>
				  </div>
			</div>
		</div>

		<div class="row">
			<div class="dashbord">
				<div class="icon-section">
					<i class="fa fa-users" aria-hidden="true"></i><br>
					<small>Users</small>
					<p>{{user_count}}</p>
				</div>
				<div class="detail-section">
					<a routerLink="/users">More Info </a>
				</div>
			</div>&nbsp; &nbsp; &nbsp;
			<div class="dashbord dashbord-orange">
				<div class="icon-section">
					<i class="fa fa-money" aria-hidden="true"></i><br>
					<small>Vendors</small>
					<p>{{provider_count}}</p>
				</div>
				<div class="detail-section">
					<a routerLink="/providers">More Info </a>
				</div>
			</div>&nbsp; &nbsp; &nbsp;
			<div class="dashbord dashbord-green">
				<div class="icon-section">
					<i class="fa fa-money" aria-hidden="true"></i><br>
					<small>Normal Product</small>
					<p>{{subcategory_count}}</p>
				</div>
				<div class="detail-section">
					<a routerLink="/subcategories">More Info </a>
				</div>
			</div>
		</div> 

		<div class="row">
			<div class="dashbord dashbord-blue">
				<div class="icon-section">
					<i class="fa fa-tasks" aria-hidden="true"></i><br>
					<small>Auction Product</small>
					<p>{{category_count}}</p>
				</div>
				<div class="detail-section">
					<a routerLink="/categories">More Info </a>
				</div>
			</div>&nbsp; &nbsp; &nbsp;
			<div class="dashbord dashbord-red">
				<div class="icon-section">
					<i class="fa fa-plus-circle" aria-hidden="true"></i><br>
					<small>New Product</small>
					<p>{{subcategory_count}}</p>
				</div>
				<div class="detail-section">
					<a routerLink="/add-product">More Info </a>
				</div>
			</div>&nbsp; &nbsp; &nbsp;
			<div class="dashbord dashbord-blue">
				<div class="icon-section">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
					<small>Orders</small>
					<p>{{category_count}}</p>
				</div>
				<div class="detail-section">
					<a routerLink="/orders-list">More Info </a>
				</div>
			</div>
		</div>

		<div class="row">
			
			
		</div>

	</div><br><br>
	<div>
		<ngx-spinner
		  bdColor="rgba(51,51,51,0.8)"
		  size="medium"
		  color="#fff"
		  type="ball-scale-multiple"
		>
		  <p style="font-size: 20px; color: white">Loading...</p>
		</ngx-spinner>
		</div>
</body>
</html>




