<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background-color: aquamarine;">
          <h4 class="card-title">Product Details</h4>
        </div>
        <div class="card-body bodyFormDesign">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>S. No</th>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Price</th>
                <th>Quantity</th>
                
                <th>Cleaning Fish</th>
                <th>Vendor Name</th>
                <th>Vendor Address</th>
              </thead>
              <tr *ngFor="let product of details.items;let i=index">
                <td> {{i + 1}}</td>
                <td>
                  Product {{i + 1}}
                </td>
                <td>
                  {{( i % 2 == 0)? "Auction":"Normal"}}
                </td>
                <td>
                  {{product.price}}
                </td>
                <td>
                  {{product.quantity}}
                </td>
                
                <td>
                  {{product.cleaningFish}}
                </td>
                <td>
                  {{product.vendorId.name}}
                </td>
                <td>
                  {{product.vendorId.address}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background-color: aquamarine;">
          <h4 class="card-title">Order Details</h4>
        </div>
        <div class="card-body bodyFormDesign">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <h6>Order Status</h6>
                <div class="order-status"
                  [ngClass]="{'bg-danger text-dark': details.orderStatus === 'REJECTED', 'bg-warning text-dark' : details.orderStatus === 'PENDING','bg-sucess text-dark': details.orderStatus === 'COMPLETED' }">
                  {{details.orderStatus | titlecase}}</div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <h6>Created At </h6>
                {{details.createdAt | date:"medium"}}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <h6>Order Total</h6>
                {{details.orderTotal}}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <h6>Billing Address</h6>
                <div>
                  {{details.billingDetails.houseNo}}
                </div>
                <div>
                  {{details.billingDetails.street}}
                </div>
                <div>
                  {{details.billingDetails.pinCode}}
                </div>
                <div>
                  {{details.billingDetails.townCity}}
                </div>
                <div>
                  {{details.billingDetails.state}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <h6>Transaction Id</h6>
                {{details.transactionId}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background-color: aquamarine;">
          <h4 class="card-title">Customer Details</h4>
        </div>
        <div class="card-body bodyFormDesign">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <h6> Name</h6>
                {{details.customerName}}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <h6> Email</h6>
                {{details.customerEmail}}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <h6> Mobile</h6>
                {{details.customerMobile}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
  <div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  </div>
</div>